@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
* {
  box-sizing: border-box;
}
.side-bar {
  background-color: #f2f2f2;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 100vh;
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
}
.side-bar-top {
  padding-top: 50px;
  width: 100%;
}
.swop-logo {
  padding-left: 65px;
}
#active-menu a {
  background-color: #000;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 31px rgb(0 0 0 / 12%);
}
.side-bar ul {
  padding: 0px;
}
.side-bar ul li {
  list-style-type: none;
  padding: 3px 40px;
}
.side-bar ul li a {
  color: #aeaeae;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 25px;
  transition: 1s ease;
}
.side-bar ul li a:hover {
  background-color: #000;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 31px rgb(0 0 0 / 12%);
}
.dapp-mid-line {
  display: none;
}
.dapp-three-line {
  display: none;
  z-index: 1;
}
.footer-side-bar-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.footer-side-bar {
  width: 100%;
  align-self: end;
}
.container {
  display: flex;
}
.main-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.main-content {
  margin-left: 300px;
  overflow: auto;
  width: 100%;
}
.footer-side-bar {
  text-align: -webkit-center;
  padding-bottom: 20px;
}
.footer-qrcode {
  background-color: #fff;
  border-radius: 10px;
  height: 80px;
  width: auto;
  box-shadow: 0px 0px 31px rgb(0 0 0 / 12%);
}
.travis {
  border-radius: 50%;
  border: 3px solid #c2c2c2;
  box-shadow: 0px 0px 31px rgb(0 0 0 / 12%);
  height: 50px;
  width: auto;
}
.footer-side-bar-travis label {
  font-size: 12px;
}
.footer-side-bar-travis h4 {
  margin: 0px;
  font-size: 16px;
  font-weight: 500;
}
.search-connect {
  display: flex;
  justify-content: space-between;
  height: 150px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7) !important;
  backdrop-filter: blur(20px);
}
.dapp-rocket {
  height: 80px;
  width: auto;
}
.search-connect input {
  height: 50px;
  width: 900px;
  border-radius: 15px;
  background-color: #fafafa;
  border: 0.5px solid #dddddda6;
  padding-left: 80px;
  box-shadow: 0px 0px 31px rgb(0 0 0 / 12%);
  transition: 0.4s ease;
  font-size: 16px;
  margin-left: -25px;
}
.dappsearch-icon {
  position: relative;
  left: 45px;
  top: 0px;
  height: auto;
  width: 25px;
  z-index: 1;
}
.search-connect input:focus {
  outline: none;
}
.search-connect button {
  background-image: linear-gradient(to top, #8973e4, #b97cde);
  border: 0px;
  height: 50px;
  width: 120px;
  padding-left: 20px;
  border-radius: 15px;
  color: #fff;
  font-weight: 600;
  margin-left: -15px;
}
.connect-icon {
  height: 15px;
  width: auto;
  position: relative;
  left: 35px;
}
.d-app-search h1 {
  font-size: 32px;
  font-weight: 600;
}
.d-app-search {
  text-align: center;
  margin: 35px 0px;
}
.d-app-search input {
  height: 50px;
  width: 750px;
  border-radius: 15px;
  background-color: #fafafa;
  border: 0.5px solid #dddddda6;
  padding-left: 80px;
  box-shadow: 0px 0px 31px rgb(0 0 0 / 12%);
  transition: 0.4s ease;
  font-size: 16px;
  margin-left: -25px;
}
.d-app-search input:focus {
  outline: 0;
}
.d-app-search img {
  position: relative;
  left: 35px;
  top: 8px;
  height: auto;
  width: 25px;
}
.dapp-slider-card .main_img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 31px rgb(0 0 0 / 12%);
  transition: 0.4s ease;
}
.dapp-slider-card .main_img:hover {
  transform: scale(1.01);
}
.dapp-categories .dapp-slider-card .main_img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 31px rgb(0 0 0 / 12%);
  transition: 0.4s ease;
  margin-bottom: -15px;
}
.dapp-slider .swiper-slide {
  margin-left: -2px !important;
}
.dapp-slider h2 {
  margin: 0px;
}
.dapp-slider {
  margin: 50px 0px;
}
.dapp-categories {
  margin: 50px 0px;
}
.dapp-categories .swiper-slide {
  margin-left: -2px !important;
}
.dapp-card-content {
  display: flex;
  align-items: center;
}
.dapp-card-content-inside h4 {
  margin: 0px;
}
.dapp-card-content-inside p {
  margin: 0px;
}
.dapp-bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.dapp-bottom div img {
  height: 100%;
  width: 100%;
  border-radius: 50px;
  box-shadow: 0px 0px 31px rgb(0 0 0 / 12%);
  transition: 0.4s ease;
}
.dapp-bottom div img:hover {
  transform: scale(1.02);
}
.dapp-bottom div h4 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 0px;
  text-align: center;
}
.dapp-bottom1 {
  width: calc(100% / 9);
  height: 100%;
}
.dapp-viewed {
  margin: 50px 0px;
}
.dapp-slider-card h6 {
  margin: 0px;
  text-align: center;
  position: relative;
  top: -35px;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
}
.heading-dapp {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.heading-dapp label {
  color: #adadad;
  cursor: pointer;
}

/* Mobile Navber start */
.mobilenav-menu-hidden {
  display: none;
  width: 685px;
  z-index: 2;
  padding: 15px 0px;
  gap: 15px;
}
.mobilenav-menu-hidden a {
  color: #000;
  text-decoration: none;
  font-size: 15px;
}
.colorNav {
  background-color: rgba(255, 255, 255, 0.7) !important;
  backdrop-filter: blur(20px);
}
.mobilenav-menu-hidden a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 30px;
}
/* Mobile Navber end */

@media only screen and (min-width: 1201px) and (max-width: 1520px) {
  .main-container {
    width: 850px;
  }
  .search-connect input {
    width: 555px;
  }
  .search-connect {
    height: 110px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .main-container {
    width: 685px;
  }
  .search-connect input {
    width: 415px;
  }
  .search-connect {
    height: 110px;
  }
  .side-bar {
    width: 250px;
  }
  .main-content {
    margin-left: 250px;
  }
  .side-bar ul li {
    padding: 3px 15px;
  }
  .swop-logo {
    padding-left: 40px;
  }
  .dapp-rocket {
    height: 60px;
  }
  .dapp-bottom1 {
    width: calc(100% / 7);
  }
  .dapp-bottom {
    gap: 10px;
  }
  .dapp-categories,
  .dapp-viewed,
  .dapp-slider {
    margin: 25px 0px;
  }
  .dapp-slider-card h6 {
    top: -15px;
    font-size: 13px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main-content {
    margin-left: 0px;
  }
  .main-container {
    width: 685px;
  }
  .search-connect input {
    width: 100%;
    padding-left: 120px;
    padding-right: 120px;
    margin-left: -52px;
    margin-right: -110px;
  }
  .search-connect {
    position: fixed;
    flex-wrap: wrap;
    margin-top: 10px;
    z-index: 3;
    width: 685px;
    height: auto;
    border-radius: 15px;
  }
  .side-bar {
    width: 250px;
  }
  .side-bar ul li {
    padding: 3px 15px;
  }
  .swop-logo {
    padding-left: 40px;
  }
  .dapp-rocket {
    display: none;
  }
  .dapp-bottom1 {
    width: calc(100% / 7);
  }
  .dapp-bottom {
    gap: 10px;
  }
  .dapp-categories,
  .dapp-viewed,
  .dapp-slider {
    margin: 25px 0px;
  }
  .dapp-slider {
    padding-top: 80px;
  }
  .dapp-slider-card h6 {
    top: -15px;
    font-size: 13px;
  }
  .search-connect button {
    position: relative;
    height: 36px;
    width: 110px;
    right: 7px;
    border-radius: 10px;
  }
  .connect-icon {
    position: relative;
    z-index: 1;
    left: 10px;
  }
  .dappsearch-icon {
    left: 45px;
  }
  .dapp-mid-line {
    display: block;
    height: 25px;
    width: 2px;
    position: relative;
    left: 35px;
    z-index: 1;
  }
  .dapp-three-line {
    display: block;
    height: auto;
    width: 25px;
    position: relative;
    left: 25px;
  }
  .dapp-cross {
    display: block;
    height: auto;
    width: 25px;
    position: relative;
    left: 25px;
    z-index: 1;
  }
}
@media only screen and (min-width: 561px) and (max-width: 767px) {
  .main-content {
    margin-left: 0px;
  }
  .main-container {
    width: 550px;
  }
  .search-connect input {
    width: 100%;
    padding-left: 120px;
    padding-right: 120px;
    margin-left: -52px;
    margin-right: -110px;
  }
  .search-connect {
    position: fixed;
    flex-wrap: wrap;
    margin-top: 10px;
    z-index: 3;
    width: 550px;
    height: auto;
    border-radius: 15px;
  }
  .side-bar {
    width: 250px;
  }
  .side-bar ul li {
    padding: 3px 15px;
  }
  .swop-logo {
    padding-left: 40px;
  }
  .dapp-rocket {
    display: none;
  }
  .dapp-bottom1 {
    width: calc(100% / 7);
  }
  .dapp-bottom {
    gap: 10px;
  }
  .dapp-categories,
  .dapp-viewed,
  .dapp-slider {
    margin: 25px 0px;
  }
  .dapp-slider {
    padding-top: 80px;
  }
  .dapp-slider-card h6 {
    top: -15px;
    font-size: 13px;
  }
  .search-connect button {
    position: relative;
    height: 36px;
    width: 110px;
    right: 7px;
    border-radius: 10px;
  }
  .connect-icon {
    position: relative;
    z-index: 1;
    left: 10px;
  }
  .dappsearch-icon {
    left: 45px;
  }
  .dapp-mid-line {
    display: block;
    height: 25px;
    width: 2px;
    position: relative;
    left: 35px;
    z-index: 1;
  }
  .dapp-three-line {
    display: block;
    height: auto;
    width: 25px;
    position: relative;
    left: 25px;
  }
  .dapp-cross {
    display: block;
    height: auto;
    width: 25px;
    position: relative;
    left: 25px;
    z-index: 1;
  }
  .dapp-bottom div h4 {
    font-size: 15px;
  }
}
@media only screen and (min-width: 425px) and (max-width: 560px) {
  .main-content {
    margin-left: 0px;
  }
  .main-container {
    width: 415px;
  }
  .search-connect input {
    width: 100%;
    padding-left: 120px;
    padding-right: 120px;
    margin-left: -52px;
    margin-right: -110px;
  }
  .search-connect {
    position: fixed;
    flex-wrap: wrap;
    margin-top: 10px;
    z-index: 3;
    width: 415px;
    height: auto;
    border-radius: 15px;
  }
  .side-bar {
    width: 250px;
  }
  .side-bar ul li {
    padding: 3px 15px;
  }
  .swop-logo {
    padding-left: 40px;
  }
  .dapp-rocket {
    display: none;
  }
  .dapp-bottom1 {
    width: calc(100% / 5);
  }
  .dapp-bottom {
    gap: 10px;
  }
  .dapp-categories,
  .dapp-viewed,
  .dapp-slider {
    margin: 25px 0px;
  }
  .dapp-slider {
    padding-top: 80px;
  }
  .dapp-slider-card h6 {
    top: -15px;
    font-size: 13px;
  }
  .search-connect button {
    position: relative;
    height: 36px;
    width: 110px;
    right: 7px;
    border-radius: 10px;
  }
  .connect-icon {
    position: relative;
    z-index: 1;
    left: 10px;
  }
  .dappsearch-icon {
    left: 45px;
  }
  .dapp-mid-line {
    display: block;
    height: 25px;
    width: 2px;
    position: relative;
    left: 35px;
    z-index: 1;
  }
  .dapp-three-line {
    display: block;
    height: auto;
    width: 25px;
    position: relative;
    left: 25px;
  }
  .dapp-cross {
    display: block;
    height: auto;
    width: 25px;
    position: relative;
    left: 25px;
    z-index: 1;
  }
  .dapp-bottom div h4 {
    font-size: 15px;
  }
}
@media only screen and (min-width: 360px) and (max-width: 424px) {
  .main-content {
    margin-left: 0px;
  }
  .main-container {
    width: 95%;
  }
  .search-connect input {
    width: 100%;
    padding-left: 100px;
    padding-right: 120px;
    margin-left: -52px;
    margin-right: -110px;
  }
  .search-connect {
    position: fixed;
    flex-wrap: wrap;
    margin-top: 10px;
    z-index: 3;
    width: 95%;
    height: auto;
    border-radius: 15px;
  }
  .side-bar {
    width: 250px;
  }
  .side-bar ul li {
    padding: 3px 15px;
  }
  .swop-logo {
    padding-left: 40px;
  }
  .dapp-rocket {
    display: none;
  }
  .dapp-bottom1 {
    width: calc(100% / 5);
  }
  .dapp-bottom {
    gap: 10px;
  }
  .dapp-categories,
  .dapp-viewed,
  .dapp-slider {
    margin: 25px 0px;
  }
  .dapp-slider {
    padding-top: 80px;
  }
  .dapp-slider-card h6 {
    top: -15px;
    font-size: 13px;
  }
  .search-connect button {
    position: relative;
    height: 36px;
    width: 110px;
    right: 7px;
    border-radius: 10px;
  }
  .connect-icon {
    position: relative;
    z-index: 1;
    left: 10px;
  }
  .dappsearch-icon {
    left: 32px;
  }
  .dapp-mid-line {
    display: block;
    height: 25px;
    width: 2px;
    position: relative;
    left: 35px;
    z-index: 1;
  }
  .dapp-three-line {
    display: block;
    height: auto;
    width: 25px;
    position: relative;
    left: 25px;
  }
  .dapp-cross {
    display: block;
    height: auto;
    width: 25px;
    position: relative;
    left: 25px;
    z-index: 1;
  }
  .dapp-bottom div h4 {
    font-size: 13px;
  }
  .dapp-three-line {
    left: 14px;
  }
  .dapp-mid-line {
    left: 22px;
  }
  .dapp-slider .swiper-slide {
    margin-left: -5px !important;
  }
  .dapp-slider h2 {
    margin: 0px 0px -15px;
    font-size: 22px;
  }
  .heading-dapp {
    margin-bottom: 15px;
  }
  .heading-dapp h2 {
    margin: 0px;
    font-size: 22px;
  }
  .dapp-categories .swiper.swiper-initialized.swiper-horizontal {
    padding: 10px 30px 30px !important;
  }
  .dapp-card-content img {
    height: 55px;
    width: auto;
  }
  .dapp-card-content-inside h4 {
    font-size: 15px;
  }
  .dapp-card-content-inside p {
    font-size: 13px;
  }
}
